[Unit]
Description=EAP-Sports FastAPI
After=network.target

[Service]
Type=exec
User=mahimalam2400
WorkingDirectory=/home/mahimalam2400/Fifa_project
EnvironmentFile=/home/mahimalam2400/Fifa_project/.env
ExecStart=/home/mahimalam2400/Fifa_project/.venv/bin/uvicorn api.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
